<div class="full">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" ui-sref="index"><i class="fa fa fa-dot-circle-o"></i>Wunderlist</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a ng-click="showAuthModal();"><i class="fa fa-sign-in"></i>Sign in</a>
                    </li>
                    <li>
                        <a ng-click="showRegModal();"><i class="fa fa-unlock-alt"></i>Registration</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container info">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <h2><i class="fa fa-check"></i>Easy to use</h2>
                <p>Wunderlist provides an easy to use interface for accessing profile data and the data storage
                    functions.
                    Now don't forget anything! </p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <h2><i class="fa fa-check"></i>Free</h2>
                <p>The application is absolutely free! If you have internet, you can open the calendar anywhere.</p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <h2><i class="fa fa-check"></i>Real-time updating</h2>
                <p>Whether you’re updating your tasks on the go or in the office, Real-time Sync instantly keeps all
                    your
                    tasks up-to-date no matter where you are.</p>
            </div>
        </div>
    </div>
</div>
