<div class="left-aside">
    <div class="header">
        <i class="fa fa-times close-aside"
           ng-click="close()"></i><i class="fa fa-tags"></i>{{task.name}}
    </div>
    <div class="input-container input-container-aside">
        <h4>Дата выполнения:</h4>
        <input type="date" class="input-type calendar" ng-model="task.date"
               ng-change="updateDate()" placeholder="Дата">
        <i class="fa fa-calendar calendar-icon"></i>
    </div>
    <div class="input-container input-container-aside">
        <h4>Дополнительные задания:</h4>
        <input placeholder="Название" type="text" class="input-type" ng-model="newSubtask.name"
               ng-enter="addSubtask()">
        <i class="fa fa-plus calendar-icon"></i>
    </div>
    <ul class="subtasks">
        <li class="am-flip-x" ng-repeat="subtask in task.subtasks"><i ng-click="toggle(subtask)" class="fa fa-square-o"
                                                                      ng-if="!subtask.done"></i><i
                ng-click="toggle(subtask)"
                class="fa fa-check-square-o"
                ng-if="subtask.done"></i>{{subtask.name}}<i
                class="fa fa-times delete"
                ng-click="deleteSubtask(subtask._id)"></i></li>
    </ul>
    <div class="input-container input-container-aside">
        <h4>Описание:</h4>
        <textarea placeholder="Подробнее (Enter -> Сохранить)" ng-model="task.description" cols="30" rows="5" ng-enter="saveDescription(task._id)"></textarea>
        <div class="input-container input-container-aside photo-container">
            <h4>Добавить фото:</h4>
            <input type="text" class="input-type calendar photo"
                   ng-change="updateImage()" placeholder="URL фото" ng-model="task.img">
        </div>
        <img class="info-image" src="{{task.img}}" alt="image">
    </div>
</div>
