<div class="control-buttons">
    <button class="btn round-btn" ng-class="{true: 'active', false: ''}[visibility]" ng-click="visibility=true;"><i
            class="fa fa-eye"></i></button>
    <button class="btn round-btn" ng-class="{true: '', false: 'active'}[visibility]" ng-click="visibility=false;"><i
            class="fa fa-eye-slash"></i></button>
    <br>
    <button class="btn round-btn" ng-click="hurry_up=!hurry_up;" ng-class="{true: '', false: 'active'}[!hurry_up]"><i class="fa fa-clock-o"></i></button>
    <button class="btn round-btn" ng-click="showPieChartModal()" ng-click="visibility=false;"><i class="fa fa-pie-chart"></i></button>
    <button class="btn round-btn" ng-click="showLineChartModal()"><i class="fa fa-line-chart"></i></button>
    <button class="btn round-btn" ng-click="visibility=false;"><i class="fa fa-calculator"></i></button>
</div>
<img src="../css/pictures/click-here.png" alt="click" ng-class="{true: 'hide-hard', false: ''}[tasks.length != 0]" class="click-here-image">
<ul class="tasks">
    <li class="task-input-li"><input ng-enter="addTask()"
                                     placeholder="Добавить новое задание (Enter)"
                                     ng-model="newTask.name"
                                     class="task-input" type="text">
    </li>
    <li class="am-fade" ng-repeat="task in tasks | filter:{done:false}">
        <i ng-click="updateTask(task)"
           class="fa fa-thumb-tack thumb">

        </i>
        <i ng-if="now > task.date && hurry_up" class="fa fa-clock-o hurry-up"></i>
        <a
            ng-href="#/lists/{{task.list}}/{{task._id}}"
            ng-class="{true: 'active-task', false: ''}[task._id === current]"
            ng-click="updateSelected(task._id)">{{task.name}}
        </a>
        <i class="delete-list fa fa-times delete-task"
           ng-click="deleteTask(task._id)">
        </i>
    </li>
    <li ng-class="{true: 'am-fade', false: ''}[visibility]" ng-hide="!visibility"
        ng-repeat="task in tasks | filter:{done:true}">
        <i
            ng-click="updateTask(task)"
            class="fa fa-thumb-tack thumb active-thumb">

        </i>
        <a
            ng-class="{true: 'active-task', false: ''}[task._id === current]"
            ng-click="updateSelected(task._id)" ng-href="#/lists/{{task.list}}/{{task._id}}"
            class="complete-task" href="">{{task.name}}
        </a>
        <i
            class="delete-list fa fa-times delete-task"
            ng-click="deleteTask(task._id)">

        </i>
    </li>
</ul>


<div class="info-ui" ui-view>
    <div class="advice">   <i class="fa fa-clock-o"></i>Каждое задание имеет deadline. Если ваше задание помеченно специальным знаком "часы", стоит задуматься о его выполнении :)</div>
    <div class="advice second">   <i class="fa fa-wrench"></i>Все данные обновляются в автоматическом режиме. Будьте спокойны, ничего не пропадет!</div>
    <div class="advice third">   <i class="fa fa-twitter"></i>Поддержите приложение в социальных сетях, это позволит нам развиваться еще быстрее.</div>
</div>
