<div class="modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body center">
                <h3>Новый список</h3>
                <input type="text" class="form-control" ng-enter="addList();" ng-model="newList.name" placeholder="Название">
            </div>
            <div class="modal-footer">
                <button class="btn btn-red" ng-click="$hide();">Отмена</button>
                <button class="btn btn-blue" ng-click="addList();">Сохранить</button>
            </div>
        </div>
    </div>
</div>