<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header center">
                <h2>Account Settings</h2>
            </div>
            <div class="modal-body">
                <div class="input-container">
                    <input ng-model="user.name" type="text" id="name" class="form-control" placeholder="Name"
                           data-toggle="tooltip" data-placement="bottom" title="name">
                    <label for="name"><i class="fa fa-user"></i></label>
                </div>
                <div class="input-container">
                    <input ng-model="user.password" type="password" id="auth-password" class="form-control"
                           placeholder="Password" data-toggle="tooltip" data-placement="bottom" title="password">
                    <label for="auth-password"><i class="fa fa-lock"></i></label>
                </div>
                <div class="input-container">
                    <input ng-model="user.subPassword" type="password" id="confirm_auth-password" class="form-control"
                           placeholder="Confirm Password" data-toggle="tooltip" data-placement="bottom"
                           title="confirm password">
                    <label for="confirm_auth-password"><i class="fa fa-unlock"></i></label>
                </div>
            </div>
            <bs-alert></bs-alert>
            <div class="modal-footer">
                <button ng-click="$hide()" class="btn btn-red">Cancel</button>
                <button ng-click="saveSettings()" class="btn btn-blue">Save</button>
            </div>
        </div>
    </div>
</div>